body {
  margin: 0;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  color: #dedddc;
}

.texture-selector {
  transform: scale(1.5);
}

.texture-selector img.active {
  transform: scale(1);
  border: 2px solid white;
}
